.color-red{
background-color: red;
border: 1px solid white;
}
.color-green{
    background-color: rgb(255, 244, 209);
    border: 1px solid white;
    
}
.color-yellow{
    background-color: yellow;
    border: 1px solid white;
    
}
.color-dark-red{
    background-color: darkred;
    border: 1px solid white;
}
.color-dark-green{
    background-color: darkgreen;
    border: 1px solid white;
}
.color-dark-yellow{
    background-color: rgb(30, 129, 187);
    border: 1px solid rgb(255, 255, 255);
}
