<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="styleshet" href="style.css">
    <title>Заголовок шаблона</title>
</head>
<body>
    <header class="main-header">
        <!-- Шапка сайта-->
        <div class="nav">
            <!--Навигация сайта-->
        </div>
    </header>
    <main>
        <!-- Основоное содержание страницы-->
    </main>
    <footer class="main-footer">
        <!-- Подвал сайта-->
    </footer>    
</body>
</html>