.red{
    background-color: red;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.dark-green{
    background-color: darkgreen;
}
.dark-red{
    background-color: darkred;
}
.text-color-white{
    color: white;
}
