.grid{
    display: grid; 
 
}
.grid-columns{
    grid-template-columns: 1fr 1fr 1fr;
}
.grid-rows{
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.grip-gap{
    gap: 10px;
}

.grid-lesson-one{
    grid-template-columns: 20% 40% 40%;
}

.grid-lesson-two{
    height: 300px;

}
.grid-solid{
    border: 1px solid red;   
}
.grid-lesson-two-rows{
    grid-template-rows: 20px 1fr 50px;
}
.grid-lesson-two-columns{
    grid-template-columns: auto;
}



